@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



// -------------header-------------

.header {
    position: relative;
	padding: clamp(0.75rem, 0.486rem + 1.32vw, 1.5rem) 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    @media (max-width: 674px) {
        padding: clamp(0.75rem, 0.223rem + 2.64vw, 2.25rem) 0;
    }
	// .header__container
	&__container {
		align-items: center;
		gap: 40px;
	}
	// .header__logo
	&__logo {
		max-width: 200px;
		svg {
			max-width: 200px;
		}
	}
	// .header__navigation
	&__navigation {
		display: flex;
        justify-content: space-between;
		align-items: center;
	}
	// .header__buttons
	&__buttons {
		display: flex;
        align-items: center;
		gap: 8px;
	}
    &__btn {
        @media (max-width: 674px) {
            display: none;
        }
    }
}
.menu {
	@media (max-width: 992px) {
		position: absolute;
		z-index: 2;
		top: 0;
		left: -100%;
		height: 100vh;
		width: 100%;
		display: flex;
		overflow: auto;
		padding: 20px 0;
		backdrop-filter: blur(10px);
		transition: left 0.5s;
		&._active {
			left: 0;
		}
	}
	&-icon {
		display: none;
		@media (max-width: 992px) {
			display: block;
			height: 18px;
			width: 30px;
			position: relative;
			cursor: pointer;
			z-index: 5;
			span {
				transition: all 0.3s ease 0s;
				top: calc(50% - 1px);
				left: 0;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #fff;
				&:first-child {
					top: 0;
				}
				&:last-child {
					top: auto;
					bottom: 0;
				}
			}
			&._active {
				span {
					transform: scale(0);
					&:first-child {
						transform: rotate(-45deg);
						top: calc(50% - 1px);
					}
					&:last-child {
						transform: rotate(45deg);
						bottom: calc(50% - 1px);
					}
				}
			}
		}
	}
	// .menu__body
	&__body {
		display: flex;
        justify-content: space-between;
		align-items: center;
		gap: 40px;
		@media (max-width: 992px) {
			flex-direction: column;
			margin: auto;
		}
	}
	// .menu__link
	&__link {
		font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.36px;
        color: #fff;
		text-decoration: none;
		transition: color 0.3s;
		position: relative;
		&::after {
            background-color: $accent-color;
            display: block;
            content: "";
            height: 2px;
            width: 0%;
            -webkit-transition: width .3s ease-in-out;
            -moz--transition: width .3s ease-in-out;
            transition: width .3s ease-in-out;
        }
        &:hover:after,:focus:after {
            width: 100%;
        }
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (max-width: 992px) {
			line-height: 50px;
			font-size: 30px;
		}
	}
}
.login {
    color: #c3d4e9;
    padding: 0;
    margin: 13px 24px;
    background-color: transparent;
    transition: .3s;
	@media (any-hover: hover) {
		&:hover {
			color:#fff;
		}
	}
	@media (max-width: 425px) {
		display: none;
	}
}
.demo {
	background-color: $accent-color;
    border: 1px solid $accent-color;
    transition: all .3s;
	@media (any-hover: hover) {
		&:hover {
            background-color: transparent;
		}
	}
	@media(max-width: 524px) {
		box-shadow: 4px 8px 24px 0px rgba(36, 107, 253, 0.25);
	}
}
// .elipseRight-img
.elipseRight-img {
    position: absolute;
    left: 0;
    z-index: -1;
	
}
// .elipseLeft-img
.elipseLeft-img {
    position: absolute;
    right: 0;
    z-index: -1;
	width: clamp(11.875rem, 7.107rem + 23.84vw, 28.563rem);
}

// -------------/header-------------



// -------------introduction-------------

.introduction {
	position: relative;
	margin-top: clamp(5rem, 4.286rem + 3.57vw, 7.5rem);
	// .introduction__container
	&__container {
	}
	// .introduction__title
	&__title {
		text-align: center;
		font-size: clamp(1.75rem, 0.964rem + 3.93vw, 4.5rem);
		font-weight: 700;
		line-height: 150%;
		letter-spacing: -2.16px;
		color: #fff;
		width: clamp(18.125rem, 9.946rem + 40.89vw, 46.75rem);
		margin: 0 auto;
		padding-bottom: 12px;
		@media(max-width: 524px) {
			text-align: left;
		}
	}
	// .introduction__text
	&__text {
		color: #90a3bf;
		padding-top: 12px;
		text-align: center;
		font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.48px;
		width: clamp(18.125rem, 12.214rem + 29.55vw, 38.813rem);
		margin: 0 auto;
		margin-bottom: 24px;
		@media(max-width: 524px) {
			text-align: left;
		}
	}
	&__buttons {
		justify-content: center;
		display: flex;
		margin-bottom: clamp(3.5rem, 2.857rem + 3.21vw, 5.75rem);
		gap: 24px;
		@media(max-width: 524px) {
			display: block;
		}
	}
	// .introduction__btn
	&__btn {
		font-size: 16px;
		font-weight: 600;
		line-height: 150%;
		letter-spacing: -0.32px;
		@media(max-width: 524px) {
			display: flex;
			justify-content: center;
			width: 100%;
		}
	}
	// .introduction__img
	&__img {
		border-radius:12px 12px 0 0;
		width: clamp(18.125rem, 1.875rem + 81.25vw, 75rem);
		margin: 0 auto;
		@media(max-width: 524px) {
			display: none;
		}
	}
	&__img-big {
		border-radius:12px 12px 0 0;
		width: clamp(18.125rem, 1.875rem + 81.25vw, 75rem);
		margin: 0 auto;
		display: none;
		@media(max-width: 524px) {
			display: block;
		}
	}
}
.ellipceIntrodaction-img {
	position: absolute;
	left: 0;
	z-index: -1;
	bottom: 0;
	width: clamp(11.875rem, 7.107rem + 23.84vw, 28.563rem);
}
.pricing {
	background-color: #1a202c;
	border: 1px solid #1a202c;
	color:#C3D4E9;
	transition: all .2s;
		&:hover {
			background-color: transparent;
			color: #fff;
		}
	@media(max-width: 524px) {
		margin-top: 24px;
		background-color: transparent;
		border: none;
	}
}

// -------------/introduction-------------



// -------------benefit-------------

.benefit {
	background-color: #fff;
	padding-top: clamp(2rem, 0.429rem + 7.86vw, 7.5rem);
	// .benefit__container
	&__container {

	}
	// .benefit__subtitle
	&__subtitle {
		color: $accent-color;
		font-size: clamp(0.75rem, 0.607rem + 0.71vw, 1.25rem);
		text-align: center;
		font-weight: 600;
		line-height: 150%;
		letter-spacing: -0.4px;
		padding-bottom: 12px;
		@media(max-width: 414px) {
			text-align: left;
		}
	}
	// .benefit__title
	&__title {
		color:#040815;
		text-align: center;
		font-size: clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);
		font-weight: 700;
		line-height: 150%;
		letter-spacing: -1.2px;
		text-align: center;
		padding-bottom: 24px;
		@media(max-width: 414px) {
			text-align: left;
		}
	}
	// .benefit__text
	&__text {
		color:#596780;
		text-align: center;
		font-size: clamp(0.875rem, 0.768rem + 0.54vw, 1.25rem);
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.4px;
		width: clamp(18.125rem, 10.589rem + 37.68vw, 44.5rem);
		margin: 0 auto;
		opacity: 0.6399999856948853;
		@media(max-width: 414px) {
			text-align: left;
			width: 100%;
		}
	}
	// .benefit__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: clamp(2rem, 1.429rem + 2.86vw, 4rem);
		flex-wrap: wrap;
		gap: 15px;
	}
	// .benefit__items
	&__items {
		margin: 0 auto;
	}
	// .benefit__item
	&__item {
		display: flex;
		padding-bottom: 44px;
		gap: 32px;
		width: clamp(18.125rem, 14.429rem + 18.48vw, 31.063rem);
		@media(max-width: 414px) {
			width: 100%;
		}
	}
	&__info {
	}
	// .benefit__img
	&__img {
		width: clamp(18.125rem, 12.446rem + 28.39vw, 38rem);
		margin: 0 auto;
	}
}
.item {
	// .item__title
	&__title {
		color: var(--secondary-900, #040815);
		font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
		font-weight: 600;
		line-height: 150%;
		letter-spacing: -0.72px;
		padding-bottom: 12px;
	}
	// .item__text
	&__text {
		color: var(--secondary-400, #596780);
		font-size: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.32px;
	}
}


// -------------/benefit-------------