@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



// -------------header-------------

.header {
    position: relative;
	padding: clamp(0.75rem, 0.486rem + 1.32vw, 1.5rem) 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    @media (max-width: 674px) {
        padding: clamp(0.75rem, 0.223rem + 2.64vw, 2.25rem) 0;
    }
	// .header__container
	&__container {
		align-items: center;
		gap: 40px;
	}
	// .header__logo
	&__logo {
		max-width: 200px;
		svg {
			max-width: 200px;
		}
	}
	// .header__navigation
	&__navigation {
		display: flex;
        justify-content: space-between;
		align-items: center;
	}
	// .header__buttons
	&__buttons {
		display: flex;
        align-items: center;
		gap: 8px;
	}
    &__btn {
        @media (max-width: 674px) {
            display: none;
        }
    }
}
.menu {
	@media (max-width: 992px) {
		position: absolute;
		z-index: 2;
		top: 0;
		left: -100%;
		height: 100vh;
		width: 100%;
		display: flex;
		overflow: auto;
		padding: 20px 0;
		background: rgba(73, 73, 73, 0.48);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		transition: left 0.5s;
		&._active {
			left: 0;
		}
	}
	&-icon {
		display: none;
		@media (max-width: 992px) {
			display: block;
			height: 18px;
			width: 30px;
			position: relative;
			cursor: pointer;
			z-index: 5;
			span {
				transition: all 0.3s ease 0s;
				top: calc(50% - 1px);
				left: 0;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #fff;
				&:first-child {
					top: 0;
				}
				&:last-child {
					top: auto;
					bottom: 0;
				}
			}
			&._active {
				span {
					transform: scale(0);
					&:first-child {
						transform: rotate(-45deg);
						top: calc(50% - 1px);
					}
					&:last-child {
						transform: rotate(45deg);
						bottom: calc(50% - 1px);
					}
				}
			}
		}
	}
	// .menu__body
	&__body {
		display: flex;
        justify-content: space-between;
		align-items: center;
		gap: 40px;
		@media (max-width: 992px) {
			flex-direction: column;
			margin: auto;
		}
	}
	// .menu__link
	&__link {
		font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.36px;
        color: #fff;
		text-decoration: none;
		transition: color 0.3s;
		position: relative;
		&::after {
            background-color: $accent-color;
            display: block;
            content: "";
            height: 2px;
            width: 0%;
            -webkit-transition: width .3s ease-in-out;
            -moz--transition: width .3s ease-in-out;
            transition: width .3s ease-in-out;
        }
        &:hover:after,:focus:after {
            width: 100%;
        }
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (max-width: 992px) {
			line-height: 50px;
			font-size: 30px;
		}
	}
}
.login {
    color: #c3d4e9;
    padding: 0;
    margin: 13px 24px;
    background-color: transparent;
    transition: .3s;
	@media (any-hover: hover) {
		&:hover {
			color:#fff;
		}
	}
	@media (max-width: 425px) {
		display: none;
	}
}
.demo {
	background-color: $accent-color;
    border: 1px solid $accent-color;
    transition: all .3s;
	@media (any-hover: hover) {
		&:hover {
            background-color: transparent;
		}
	}
	@media(max-width: 524px) {
		box-shadow: 4px 8px 24px 0px rgba(36, 107, 253, 0.25);
	}
}
// .elipseRight-img
.elipseRight-img {
    position: absolute;
    left: 0;
    z-index: -1;
	
}
// .elipseLeft-img
.elipseLeft-img {
    position: absolute;
    right: 0;
    z-index: -1;
	width: clamp(11.875rem, 7.107rem + 23.84vw, 28.563rem);
}

// -------------/header-------------



// -------------introduction-------------

.introduction {
	position: relative;
	margin-top: clamp(5rem, 4.286rem + 3.57vw, 7.5rem);
	// .introduction__container
	&__container {
	}
	// .introduction__title
	&__title {
		text-align: center;
		font-size: clamp(1.75rem, 0.964rem + 3.93vw, 4.5rem);
		font-weight: 700;
		line-height: 150%;
		letter-spacing: -2.16px;
		color: #fff;
		width: clamp(18.125rem, 9.946rem + 40.89vw, 46.75rem);
		margin: 0 auto;
		padding-bottom: 12px;
		@media(max-width: 524px) {
			text-align: left;
		}
	}
	// .introduction__text
	&__text {
		color: #90a3bf;
		padding-top: 12px;
		text-align: center;
		font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.48px;
		width: clamp(18.125rem, 12.214rem + 29.55vw, 38.813rem);
		margin: 0 auto;
		margin-bottom: 24px;
		@media(max-width: 524px) {
			text-align: left;
		}
	}
	&__buttons {
		justify-content: center;
		display: flex;
		margin-bottom: clamp(3.5rem, 2.857rem + 3.21vw, 5.75rem);
		gap: 24px;
		@media(max-width: 524px) {
			display: block;
		}
	}
	// .introduction__btn
	&__btn {
		font-size: 16px;
		font-weight: 600;
		line-height: 150%;
		letter-spacing: -0.32px;
		@media(max-width: 524px) {
			display: flex;
			justify-content: center;
			width: 100%;
		}
	}
	// .introduction__img
	&__img {
		border-radius:12px 12px 0 0;
		width: clamp(18.125rem, 1.875rem + 81.25vw, 75rem);
		margin: 0 auto;
		@media(max-width: 524px) {
			display: none;
		}
	}
	&__img-big {
		border-radius:12px 12px 0 0;
		width: clamp(18.125rem, 1.875rem + 81.25vw, 75rem);
		margin: 0 auto;
		display: none;
		@media(max-width: 524px) {
			display: block;
		}
	}
}
.ellipceIntrodaction-img {
	position: absolute;
	left: 0;
	z-index: -1;
	bottom: 0;
	width: clamp(11.875rem, 7.107rem + 23.84vw, 28.563rem);
}
.pricing {
	background-color: #1a202c;
	border: 1px solid #1a202c;
	color:#C3D4E9;
	transition: all .2s;
		&:hover {
			background-color: transparent;
			color: #fff;
		}
	@media(max-width: 524px) {
		margin-top: 24px;
		background-color: transparent;
		border: none;
	}
}

// -------------/introduction-------------



// -------------benefit-------------

.benefit {
	background-color: #fff;
	padding-top: clamp(2rem, 0.429rem + 7.86vw, 7.5rem);
	padding-bottom: clamp(2rem, 0.429rem + 7.86vw, 7.5rem);
	// .benefit__container
	&__container {

	}
	// .benefit__subtitle
	&__subtitle {
		color: $accent-color;
		font-size: clamp(0.75rem, 0.607rem + 0.71vw, 1.25rem);
		text-align: center;
		font-weight: 600;
		line-height: 150%;
		letter-spacing: -0.4px;
		padding-bottom: 12px;
		@media(max-width: 414px) {
			text-align: left;
		}
	}
	// .benefit__title
	&__title {
		color:#040815;
		text-align: center;
		font-size: clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);
		font-weight: 700;
		line-height: 150%;
		letter-spacing: -1.2px;
		text-align: center;
		padding-bottom: 24px;
		@media(max-width: 414px) {
			text-align: left;
		}
	}
	// .benefit__text
	&__text {
		color:#596780;
		text-align: center;
		font-size: clamp(0.875rem, 0.768rem + 0.54vw, 1.25rem);
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.4px;
		width: clamp(18.125rem, 10.589rem + 37.68vw, 44.5rem);
		margin: 0 auto;
		opacity: 0.6399999856948853;
		@media(max-width: 414px) {
			text-align: left;
			width: 100%;
		}
	}
	// .benefit__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: clamp(2rem, 1.429rem + 2.86vw, 4rem);
		flex-wrap: wrap;
		gap: 15px;
	}
	// .benefit__items
	&__items {
		margin: 0 auto;
	}
	// .benefit__item
	&__item {
		display: flex;
		padding-bottom: 44px;
		gap: clamp(1rem, 0.714rem + 1.43vw, 2rem);
		width: clamp(18.125rem, 14.429rem + 18.48vw, 31.063rem);
		@media(max-width: 414px) {
			width: 100%;
		}
	}
	&__info {
	}
	// .benefit__img
	&__img {
		width: clamp(18.125rem, 12.446rem + 28.39vw, 38rem);
		margin: 0 auto;
	}
}
.item {
	// .item__title
	&__title {
		color: var(--secondary-900, #040815);
		font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
		font-weight: 600;
		line-height: 150%;
		letter-spacing: -0.72px;
		padding-bottom: 12px;
	}
	// .item__text
	&__text {
		color: var(--secondary-400, #596780);
		font-size: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.32px;
	}
}


// -------------/benefit-------------



// -------------explanation-------------


.explanation {
	position: relative;
	padding-top: clamp(2.5rem, 1.071rem + 7.14vw, 7.5rem);
	padding-bottom: clamp(2.5rem, 1.071rem + 7.14vw, 7.5rem);
	// .explanation__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: clamp(0.938rem, -7.288rem + 14vw, 5.313rem);
		flex-wrap: wrap;
		@media(max-width: 1043px) {
			
			flex-direction: column-reverse;
		}
	}
	// .explanation__img
	&__img {
		width: clamp(18.125rem, 13.339rem + 23.93vw, 34.875rem);
		margin: 0 auto;
		@media(max-width: 1043px) {
			width: clamp(18.125rem, 10.111rem + 40.07vw, 32.5rem);
		}
	}
	// .explanation__wrapper
	&__wrapper {
	}
	// .explanation__subtitle
	&__subtitle {
		color: $accent-color;
		font-size: clamp(0.75rem, 0.607rem + 0.71vw, 1.25rem);
		font-weight: 600;
		line-height: 150%;
		letter-spacing: -0.4px;
		padding-bottom: 12px;
	}
	// .explanation__title
	&__title {
		color: #fff;
		font-size: clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);
		font-weight: 700;
		line-height: 150%;
		letter-spacing: -1.2px;
		padding-bottom: 24px;
	}
	// .explanation__text
	&__text {
		color:#90A3BF;
		font-size: clamp(0.875rem, 0.768rem + 0.54vw, 1.25rem);
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.4px;
		padding-bottom: 32px;
		max-width: 520px;
		@media(max-width: 1043px) {
			width: clamp(18.125rem, 10.111rem + 40.07vw, 32.5rem);
		}
	}
	// .explanation__steps
	&__steps {
		width: clamp(19.938rem, 16.241rem + 18.48vw, 32.875rem);
		background-color:#1A202C;
		border-radius: 12px;
		padding: 32px;
		@media(max-width: 1043px) {
			width: clamp(18.125rem, 10.111rem + 40.07vw, 32.5rem);
			margin: 0 auto 32px;
			
		}
	}
}
.step {
	// .step__item
	&__item {
		display: flex;
		gap: 16px;
		align-items: center;
		&:first-child {
			margin-bottom: 40px;
		}
		&:last-child {
			margin-top: 40px;
		}
	}
	// .step__icon
	&__icon {
		width: 48px;
		height: 48px;
		flex-shrink: 0;
		border-radius: 48px;
		background-color: $accent-color;
		position: relative;
	}
	// .step__text
	&__text {
		color: #fff;
		font-size: clamp(0.938rem, 0.848rem + 0.45vw, 1.25rem);
		font-weight: 500;
		line-height: 150%;
		letter-spacing: -0.4px;
	}
}
.icon {
	&__text {
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		line-height: 150%;
		letter-spacing: -0.72px;
		text-align: center;
		padding-top: 4px;
	}
	&__text-gray {
		color: #1A202C;
		font-size: 24px;
		font-weight: 600;
		line-height: 150%;
		letter-spacing: -0.72px;
		text-align: center;
		padding-top: 4px;
	}
}
.first {
	&::after {
		background-color: $accent-color;
		position: absolute;
		display: block;
		content: "";
		height: 2px;
		width: 100%;
		rotate: 90deg;
		bottom: -19px;
	}
}
.three {
	background-color: #fff;
	&::after {
		position: absolute;
		left: 11px;
		display: block;
		font-weight: 700;
		content: "---";
		letter-spacing: 5px;
		color: #fff;
		height: 2px;
		width: 100%;
		rotate: 90deg;
		top: -14px;
		z-index: 1;
	}
}
.ellipseExplanationLeft-img {
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}
.ellipseExplanationRight-img {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

// -------------/explanation-------------



// -------------automation-------------

.automation {
	background-color: #fff;
	padding-top: clamp(2rem, 0.429rem + 7.86vw, 7.5rem);
	padding-bottom: clamp(2rem, 0.429rem + 7.86vw, 7.5rem);
	// .automation__list
	&__list {
		max-width: 526px;
		@media (max-width: 1056px) {
			margin: 0 auto;
		}
	}
	// .automation__img
	&__img {
		padding-top: 32px;
		@media (max-width: 1056px) {
			margin: 0 auto;
		}
	}
	// .automation__container
	&__container {
	}
	// .automation__subtitle
	&__subtitle {
		color: $accent-color;
		font-size: clamp(0.75rem, 0.607rem + 0.71vw, 1.25rem);
		font-weight: 600;
		line-height: 150%;
		letter-spacing: -0.4px;
		padding-bottom: 12px;
		@media (max-width: 1056px) {
			text-align: center;
		}
		@media (max-width: 414px) {
			text-align: left;
		}
	}
	// .automation__title
	&__title {
		color:#0D121F;
		font-size: clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);
		font-weight: 700;
		line-height: 150%;
		letter-spacing: -1.2px;
		max-width: 634px;
		padding-bottom: clamp(2.063rem, 1.938rem + 0.63vw, 2.5rem);
		@media (max-width: 1056px) {
			margin: 0 auto;
			text-align: center;
			max-width: 526px;
		}
		@media (max-width: 414px) {
			text-align: left;	
		}
	}
	// .automation__buttons
	&__buttons {
		background-color: #F3F5F7;
		border-radius: 30px;
		display: inline-block;
		@media (max-width: 1056px) {
			display: flex;
			justify-content: center;
			width: clamp(17.625rem, 16.565rem + 5.3vw, 20.063rem);
			margin: 0 auto 33px;
		}
	}
	// .automation__btn
	&__btn {
		font-size: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
		color:#90A3BF;
		background-color: #F3F5F7;
		border:1px solid #F3F5F7;
		transition: all .2s;
		&:hover {
			border:1px solid $accent-color;
		}
	}
	// .automation__wrapper
	&__wrapper {
	}
}
.list {
	// .list__title
	&__title {
		color:#0D121F;
		font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
		font-weight: 700;
		line-height: 150%;
		letter-spacing: -0.72px;
		@media (max-width: 1056px) {
			text-align: center;
		}
		@media (max-width: 414px) {
			text-align: left;	
		}
	}
	// .list__item
	&__item {
		padding-top: 32px;
		display: flex;
		align-items: start;
		gap: 12px;
	}
	// .list__icon
	&__icon {
	}
	// .list__text
	&__text {
		color:#0D121F;
		font-size: clamp(0.75rem, 0.643rem + 0.54vw, 1.125rem);
		font-weight: 500;
		line-height: 150%;
		letter-spacing: -0.36px;
	}
}
.mixer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 15px;
}
.mixitup-control-active {
		color: #fff;
		background-color: $accent-color;
		border: 1px solid $accent-color;
}

// -------------/automation-------------



// -------------testimonials-------------

.testimonials {
	position: relative;
	padding-top: clamp(2rem, 0.429rem + 7.86vw, 7.5rem);
	padding-bottom: clamp(2rem, 0.429rem + 7.86vw, 7.5rem);
	// .testimonials__container
	&__container {
	}
	// .testimonials__subtitle
	&__subtitle {
		text-align: center;
		color: $accent-color;
		font-size: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);
		font-weight: 600;
		line-height: 150%;
		letter-spacing: -0.4px;
		padding-bottom: 12px;
		@media (max-width: 414px) {
			text-align: left;
			max-width: 295px;
			margin: 0 auto;
		}
	}
	// .testimonials__title
	&__title {
		color: #fff;
		text-align: center;
		font-size: clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);
		font-weight: 700;
		line-height: 150%;
		letter-spacing: -1.2px;
		padding-bottom: 24px;
		@media (max-width: 414px) {
			text-align: left;
			max-width: 295px;
			margin: 0 auto;
		}
	}
	// .testimonials__text
	&__text {
		padding-bottom: clamp(2rem, 1.429rem + 2.86vw, 4rem);
		color: #90A3BF;
		text-align: center;
		font-size: clamp(0.875rem, 0.768rem + 0.54vw, 1.25rem);
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.4px;
		max-width: 568px;
		margin: 0 auto;
		@media (max-width: 829px) {
			max-width: 390px;
		}
		@media (max-width: 414px) {
			text-align: left;
			max-width: 295px;
		}
	}
}

.swiper {
	@media (max-width: 1199px) {
		width: 785px;
	}
	@media (max-width: 829px) {
		width: 400px;
	}
	@media (max-width: 426px) {
		width: 300px;
	}
	// .swiper__buttons
	&__buttons {
		display: flex;
		gap: 24px;
		justify-content: center;
	}
}
.swiper-wrapper {
	margin-bottom: clamp(2rem, 1.429rem + 2.86vw, 4rem);
}
.swiper-slide {
}

.swiper-item {
	background-color: #1A202C;
	border-radius: 12px;
	margin: 0 auto;
	width: 320px;
	height: 300px;
	padding: 30px;
	@media (max-width: 430px) {
		padding: 20px;
		width: 85%;
	}
	@media (max-width: 340px) {
		padding: 20px;
		width: 80%;
	}
	// .item__title
	&__title {
		color: #fff;
		font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
		font-weight: 600;
		line-height: 150%;
		letter-spacing: -0.36px;
		padding-bottom: 16px;
		position: relative;
		&::after {
			background-color: #596780;
			opacity: 0.20000000298023224;
			position: absolute;
			display: block;
			content: "";
			height: 1px;
			width: 100%;
			bottom: -155px;
			@media (max-width: 430px) {
				bottom: -160px;
			}
		}
	}
	// .item__text
	&__text {
		color: #F3F5F7;
		font-size: clamp(0.813rem, 0.759rem + 0.27vw, 1rem);
		font-weight: 500;
		line-height: 150%;
		letter-spacing: -0.32px;
	}
}
.user {
	position: absolute;
	bottom: 30px;
	display: flex;
	align-items: center;
	gap: 24px;
	// .user__img
	&__img {
		border-radius: 12px;
		width: clamp(3.625rem, 3.411rem + 1.07vw, 4.375rem);
	}
	// .user__info
	&__info {
		
	}
	// .user__name
	&__name {
		color: #fff;
		font-size: clamp(1rem, 0.964rem + 0.18vw, 1.125rem);
		font-weight: 700;
		line-height: 150%;
		letter-spacing: -0.54px;
	}
	// .user__desc
	&__desc {
		color:#C3D4E9;
		font-size: clamp(0.75rem, 0.714rem + 0.18vw, 0.875rem);
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.28px;
	}
}
.swiper-button-prev {
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 14px;
	border-radius: 100px;
	background:#1A202C;
	cursor: pointer;
	transition: all .2s;
	&:hover {
		background: $accent-color;
		box-shadow: 4px 8px 24px 0px rgba(36, 107, 253, 0.25);
	}
}
.swiper-button-next {
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 14px;
	border-radius: 100px;
	background:#1A202C;
	transition: all .2s;
	cursor: pointer;
	&:hover {
		background: $accent-color;
		box-shadow: 4px 8px 24px 0px rgba(36, 107, 253, 0.25);
	}
}
.swiper-button-disabled {
	opacity: 0.4; /* Измените здесь желаемый стиль кнопок */
	cursor: pointer;
	&:hover {
		background: #1A202C;
	}
}
.button__img {
	padding-top: 2px;
	margin: auto;
}



// -------------/testimonials-------------